:root {
    --app-bg-color: rgba(180, 180, 180, 0.323);
    --primary-color: #144A96;
    --primar-hover-color: #175dc0;
    --white-on-non-white-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-container {
    flex-direction: column;
}

.welcome-text {
    color: var(--primar-hover-color);
    font-weight: 1000;
    text-transform: capitalize;
    font-size: 22px;
    margin-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.welcome-text span {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 20px;
}
.subtext {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 15px;
    width: 500px;
    text-align: center;
    margin: 20px 0 40px 0;
}

.primary-btn {
    position: relative;
    background-color: var(--primar-hover-color);
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    border-radius: 50px;
}
.primary-btn a {
    padding: 10px 20px;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 200px;
    text-decoration: none;
    color: var(--white-on-non-white-color);
    text-transform: capitalize;
    font-weight: 700;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.primary-btn::before {
    content: '';
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(0);
    transition: 0.3s;
    z-index: -1;
}
.primary-btn:hover::before {
    transform: translateX(-100%);
}

.other-log-in {
    font-size: 15px;
    margin-top: 20px;
}
.other-log-in a {
    color: var(--primary-color);
}


#slider-section {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 100000000;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: var(--primar-hover-color) var(--primary-color) transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent rgb(129, 164, 194) rgb(129, 164, 194);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: var(--primary-color) var(--primar-hover-color) transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
    



/* JS CLASSES */
.hide-slider-section {
    opacity: 0;
    transition: 0.8s;
}
.bring-slider-section {
    opacity: 1;
    transition: 0.8s;
}